<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content ="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Tanabata Typing</title>
    <link rel =" stylesheet" href ='{{url_for('static',filename='/css/homelogin.css')}}'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('{{url_for('static',filename='/img/WE.jpeg')}}') ;
        background-size: cover;
        background-position: center;
    
    }</style>
</head>
<body>
    <header>
        <h2 class ="logo">Tanabata Typing</h2>
        <input type="checkbox" id="check">
        <label for="check" class="icons">
            <i class='bx bx-menu' id="menu-bar"></i>
            <i class='bx bx-x' id = "close"></i>
        </label>
        <nav class = "navigation">
            <a href="{{url_for('about')}}" style="--i:0">About</a>
            <a href="/dashboard" style="--i:1" >Practice</a>  
            <i>
           <a href="/logout" style="--i:2"> <button  class ="btnLogout-popup" >Logout</button></a>      
        </nav>
    </header>
    <div class="welcome-box">
        <!-- <span class="icon-close"><ion-icon name="close-outline"></ion-icon></span> -->
            <h2>Welcome {{user_name}}</h2>
            <p class="welcome-msg"> welcome back!! </p>
            <p class ="welcome-msg">start your typing test by hitting on the practice link. </p>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
